<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="text-center">
        <div><h2>Delete User</h2></div>
        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <form th:action="@{/users/delete}" method="post" th:object="${user}" style="max-width: 500px; margin: 0 auto;">
            <input type="hidden" th:field="*{id}">
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">E-mail:</label>
                    <label class="col-sm-4 col-form-label">[[${user.EmailId}]]</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">First Name:</label>
                    <label class="col-sm-4 col-form-label">[[${user.FirstName}]]</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last Name:</label>
                    <label class="col-sm-4 col-form-label">[[${user.LastName}]]</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Password:</label>
                    <label class="col-sm-4 col-form-label">[[${user.Password}]]</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Phone Number:</label>
                    <label class="col-sm-4 col-form-label">[[${user.PhoneNumber}]]</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Is Enabled:</label>
                    <label class="col-sm-4 col-form-label">[[${user.IsEnabled}]]</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary m-2">Delete</button>
                    <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/users}]]";
    }
</script>
</body>
</html>